<link rel="stylesheet" href="/css/home.css">
<div id="home-conatiner"> 
  <section id="feed-posts"> 
    <h1>Posts</h1>
    <% if(locals.user){%>
  <form action="/posts/create" id="new-post-form" method="POST">
<textarea name="content" cols="110" rows="10" required></textarea>
<input type="submit" value="POST">
</form>
<%}%>

<div id="posts-list-container">
  <ul>
<label><b>POST</b></label>
    <% for(post of posts){%>
      <%- include('_post');%>
      <% } %>
  </ul>
</div>
</section>
<section id="user-friend">
<h1>Friends</h1>
<% for(u of all_users){%>
  <p>
    <a href="/users/profile/<%=u.id %>"><%= u.name %></a>
  </p>
<%}%>
</section>
</div>

    