#home-container{
    display:flex;
    border: 1px solid black;
    
    #feed-posts{
        width:70%;
        padding:10px;
        
    }
    #user-friend{
        width:30%;
        padding: 20px;
        border-left:2px solid grey;
        height:100%;
    }
}
